@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

td,
th {
    padding: 8px 12px;
    text-align: left;
}

button {
    @apply bg-blue-500 text-gray-800 px-8 py-4 w-full rounded-md cursor-pointer;
}

button:hover {
    @apply bg-blue-300;
}
